//
// Sections Styles //
//
.section-xs {
	padding: 50px 0;
	&.bg-image {
		.container, .container-fluid { padding: 50px 30px; }
	}
}
.section-sm {
	padding: 70px 0;
	&.bg-image {
		.container, .container-fluid { padding: 70px 30px; }
	}
}
.section, .section-md {
	padding: 100px 0;
	&.bg-image {
		.container, .container-fluid { padding: 100px 30px; }
	}
}
.section-lg {
	padding: 140px 0;
	&.bg-image {
		.container, .container-fluid { padding: 140px 30px; }
	}
}
.section-xl {
	padding: 180px 0;
	&.bg-image {
		.container, .container-fluid { padding: 180px 30px; }
	}
}
.section-2xl {
	padding: 220px 0;
	&.bg-image {
		.container, .container-fluid { padding: 220px 30px; }
	}
}
@include breakpoint-less(sm) {
	.section-xs {
		padding: 30px 0;
		&.bg-image {
			.container, .container-fluid { padding: 30px 30px; }
		}
	}
	.section-sm {
		padding: 50px 0;
		&.bg-image {
			.container, .container-fluid { padding: 50px 30px; }
		}
	}
	.section, .section-md {
		padding: 80px 0;
		&.bg-image {
			.container, .container-fluid { padding: 80px 30px; }
		}
	}
	.section-lg {
		padding: 110px 0;
		&.bg-image {
			.container, .container-fluid { padding: 110px 30px; }
		}
	}
	.section-xl {
		padding: 140px 0;
		&.bg-image {
			.container, .container-fluid { padding: 140px 30px; }
		}
	}
	.section-2xl {
		padding: 170px 0;
		&.bg-image {
			.container, .container-fluid { padding: 170px 30px; }
		}
	}
}
@include breakpoint-less(xs) {
	.section, .section-md {
		padding: 70px 0;
		&.bg-image {
			.container, .container-fluid { padding: 70px 30px; }
		}
	}
	.section-lg {
		padding: 90px 0;
		&.bg-image {
			.container, .container-fluid { padding: 90px 30px; }
		}
	}
	.section-xl {
		padding: 120px 0;
		&.bg-image {
			.container, .container-fluid { padding: 120px 30px; }
		}
	}
	.section-2xl {
		padding: 150px 0;
		&.bg-image {
			.container, .container-fluid { padding: 150px 30px; }
		}
	}
}
.section-xs, 
.section-sm, 
.section, .section-md, 
.section-lg, 
.section-xl, 
.section-2xl {
	&.bg-image {
		padding: 0;
	}
}

.section-fullscreen {
	width: 100%;
	height: 100vh;
	.bg-black, 
	[class*='bg-white'],
	[class*='bg-gray'],
	[class*='bg-dark'], 
	[class*='bg-gradient'], 
	[class*='bg-color'], 
	.container, .container-fluid {
		height: 100%;
	}
}