/*------------------------------------------------
*
* Theme Color - turquoise
*
-------------------------------------------------*/
.theme-color-turquoise a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover {
  color: #4cbfa6;
}

.theme-color-turquoise [class*='bg-gradient'] a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover,
.theme-color-turquoise [class*='bg-color'] a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover {
  color: white;
}


.theme-color-turquoise .header .header-menu:not([class*='dropdown-color']) .nav .nav-item .nav-dropdown a:not([class^='button']):not([class^="link-social"]):hover, .theme-color-turquoise .header .header-menu:not([class*='dropdown-color']) .nav .nav-item .nav-dropdown a:not([class^='button']):not([class^="link-social"]):focus {
  color: #4cbfa6;
}


.theme-color-turquoise .bg-color-theme {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-color-theme-09 {
  background: rgba(76, 191, 166, 0.9);
}

.theme-color-turquoise .bg-color-theme-08 {
  background: rgba(76, 191, 166, 0.8);
}

.theme-color-turquoise .bg-color-theme-07 {
  background: rgba(76, 191, 166, 0.7);
}

.theme-color-turquoise .bg-color-theme-06 {
  background: rgba(76, 191, 166, 0.6);
}

.theme-color-turquoise .bg-color-theme-05 {
  background: rgba(76, 191, 166, 0.5);
}

.theme-color-turquoise .bg-color-theme-04 {
  background: rgba(76, 191, 166, 0.4);
}

.theme-color-turquoise .bg-color-theme-03 {
  background: rgba(76, 191, 166, 0.3);
}

.theme-color-turquoise .bg-color-theme-02 {
  background: rgba(76, 191, 166, 0.2);
}

.theme-color-turquoise .bg-color-theme-01 {
  background: rgba(76, 191, 166, 0.1);
}

.theme-color-turquoise .bg-light-theme {
  background: #E2F4F0;
}

.theme-color-turquoise .button-theme {
  background: #4cbfa6;
}

.theme-color-turquoise .button-outline-theme {
  border-color: #4cbfa6;
  color: #4cbfa6;
}

.theme-color-turquoise .button-outline-theme:hover, .theme-color-turquoise .button-outline-theme:focus {
  background: #4cbfa6;
  color: white;
}

.theme-color-turquoise .button-circle-theme {
  background: #4cbfa6;
}

.theme-color-turquoise .button-circle-outline-theme {
  border-color: #4cbfa6;
  color: #4cbfa6;
}

.theme-color-turquoise .button-circle-outline-theme:hover, .theme-color-turquoise .button-circle-outline-theme:focus {
  background: #4cbfa6;
}

.theme-color-turquoise .button-backdrop-color-theme {
  background: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-1, .theme-color-turquoise .button-text-theme.button-text-2, .theme-color-turquoise .button-text-theme.button-text-3 {
  color: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-1:hover, .theme-color-turquoise .button-text-theme.button-text-2:hover, .theme-color-turquoise .button-text-theme.button-text-3:hover {
  color: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-1:before {
  background: rgba(76, 191, 166, 0.3);
}

.theme-color-turquoise .button-text-theme.button-text-1:after {
  background: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-2:before {
  background: rgba(76, 191, 166, 0.1);
}

.theme-color-turquoise .button-text-theme.button-text-2:after {
  background: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-3:before {
  background: #4cbfa6;
}

.theme-color-turquoise .button-text-theme.button-text-3:hover:before {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-1, .theme-color-turquoise .bg-black .button-text-theme.button-text-2, .theme-color-turquoise .bg-black .button-text-theme.button-text-3,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-1,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-2,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-3 {
  color: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-1:hover, .theme-color-turquoise .bg-black .button-text-theme.button-text-2:hover, .theme-color-turquoise .bg-black .button-text-theme.button-text-3:hover,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-1:hover,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-2:hover,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-3:hover {
  color: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-1:before,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-1:before {
  background: rgba(76, 191, 166, 0.3);
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-1:after,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-1:after {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-2:before,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-2:before {
  background: rgba(76, 191, 166, 0.3);
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-2:after,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-2:after {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-3:before,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-3:before {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .button-text-theme.button-text-3:hover:before,
.theme-color-turquoise [class*='bg-dark'] .button-text-theme.button-text-3:hover:before {
  background: #4cbfa6;
}

.theme-color-turquoise .text-color-theme {
  color: #4cbfa6;
}

.theme-color-turquoise .progress-box.progress-theme .animated-progress div {
  background: #4cbfa6;
}

.theme-color-turquoise [class*='bg-gradient'] .progress-box.progress-theme .animated-progress div,
.theme-color-turquoise [class*='bg-color'] .progress-box.progress-theme .animated-progress div {
  background: white;
}

.theme-color-turquoise.preloader-theme .preloader-1 div .loader-path {
  stroke: #4cbfa6;
}

.theme-color-turquoise.preloader-theme .preloader-2 div span {
  background: #4cbfa6;
  background: linear-gradient(to right, #4cbfa6 10%, transparent 40%);
}

.theme-color-turquoise.preloader-theme .preloader-2 div span:before {
  background: #4cbfa6;
}

.theme-color-turquoise.preloader-theme .preloader-3 div span:before, .theme-color-turquoise.preloader-theme .preloader-3 div span:after {
  background: rgba(76, 191, 166, 0.2);
}

.theme-color-turquoise .accordion li .accordion-title {
  border-color: rgba(76, 191, 166, 0.1);
}

.theme-color-turquoise .accordion li .accordion-title:before, .theme-color-turquoise .accordion li .accordion-title:after {
  background: #4cbfa6;
}

.theme-color-turquoise .accordion li .accordion-title h1, .theme-color-turquoise .accordion li .accordion-title h2, .theme-color-turquoise .accordion li .accordion-title h3, .theme-color-turquoise .accordion li .accordion-title h4, .theme-color-turquoise .accordion li .accordion-title h5, .theme-color-turquoise .accordion li .accordion-title h6 {
  color: #4cbfa6;
}

.theme-color-turquoise .accordion li.active .accordion-title {
  border-color: #4cbfa6;
}

.theme-color-turquoise .accordion.style-3 li .accordion-title {
  background: #E2F4F0;
}

.theme-color-turquoise .accordion.style-3 li.active .accordion-title {
  background: #4cbfa6;
  color: white;
}

.theme-color-turquoise .accordion.style-3 li.active .accordion-title:before, .theme-color-turquoise .accordion.style-3 li.active .accordion-title:after {
  background: white;
}

.theme-color-turquoise .accordion.style-3 li.active .accordion-title h1, .theme-color-turquoise .accordion.style-3 li.active .accordion-title h2, .theme-color-turquoise .accordion.style-3 li.active .accordion-title h3, .theme-color-turquoise .accordion.style-3 li.active .accordion-title h4, .theme-color-turquoise .accordion.style-3 li.active .accordion-title h5, .theme-color-turquoise .accordion.style-3 li.active .accordion-title h6 {
  color: white;
}

.theme-color-turquoise .bg-black .accordion li .accordion-title,
.theme-color-turquoise [class*='bg-dark'] .accordion li .accordion-title {
  border-color: rgba(255, 255, 255, 0.2);
}

.theme-color-turquoise .bg-black .accordion li .accordion-title:before, .theme-color-turquoise .bg-black .accordion li .accordion-title:after,
.theme-color-turquoise [class*='bg-dark'] .accordion li .accordion-title:before,
.theme-color-turquoise [class*='bg-dark'] .accordion li .accordion-title:after {
  background: white;
}

.theme-color-turquoise .bg-black .accordion li.active .accordion-title,
.theme-color-turquoise [class*='bg-dark'] .accordion li.active .accordion-title {
  border-color: #4cbfa6;
}

.theme-color-turquoise .bg-black .accordion.style-3 li .accordion-title,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li .accordion-title {
  background: rgba(255, 255, 255, 0.1);
}

.theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title {
  background: #4cbfa6;
  color: white;
}

.theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title:before, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title:after,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title:before,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title:after {
  background: white;
}

.theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h1, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h2, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h3, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h4, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h5, .theme-color-turquoise .bg-black .accordion.style-3 li.active .accordion-title h6,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h1,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h2,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h3,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h4,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h5,
.theme-color-turquoise [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h6 {
  color: white;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title {
  border-color: rgba(255, 255, 255, 0.2);
}

.theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h1, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h2, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h3, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h4, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h5, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title h6,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h1,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h2,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h3,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h4,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h5,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title h6 {
  color: white;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title:before, .theme-color-turquoise [class*='bg-gradient'] .accordion li .accordion-title:after,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title:before,
.theme-color-turquoise [class*='bg-color'] .accordion li .accordion-title:after {
  background: white;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion li.active .accordion-title,
.theme-color-turquoise [class*='bg-color'] .accordion li.active .accordion-title {
  border-color: white;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title {
  background: rgba(255, 255, 255, 0.1);
}

.theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h1, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h2, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h3, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h4, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h5, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li .accordion-title h6,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h1,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h2,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h3,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h4,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h5,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li .accordion-title h6 {
  color: white;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title {
  background: white;
  color: #7C7C7C;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title:before, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title:after,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title:before,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title:after {
  background: black;
}

.theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h1, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h2, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h3, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h4, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h5, .theme-color-turquoise [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h6,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h1,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h2,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h3,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h4,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h5,
.theme-color-turquoise [class*='bg-color'] .accordion.style-3 li.active .accordion-title h6 {
  color: black;
}

.theme-color-turquoise .text-link-2:before,
.theme-color-turquoise .text-link-3:before,
.theme-color-turquoise .text-link-4:before {
  background: #4cbfa6;
}

.theme-color-turquoise .text-link-5:after,
.theme-color-turquoise .text-link-6:after,
.theme-color-turquoise .text-link-7:after {
  background: #4cbfa6;
}

.theme-color-turquoise .text-link-8:before {
  background: rgba(76, 191, 166, 0.1);
}

.theme-color-turquoise .bg-black .text-link-2:before,
.theme-color-turquoise .bg-black .text-link-3:before,
.theme-color-turquoise .bg-black .text-link-4:before,
.theme-color-turquoise [class*='bg-dark'] .text-link-2:before,
.theme-color-turquoise [class*='bg-dark'] .text-link-3:before,
.theme-color-turquoise [class*='bg-dark'] .text-link-4:before {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .text-link-5:after,
.theme-color-turquoise .bg-black .text-link-6:after,
.theme-color-turquoise .bg-black .text-link-7:after,
.theme-color-turquoise [class*='bg-dark'] .text-link-5:after,
.theme-color-turquoise [class*='bg-dark'] .text-link-6:after,
.theme-color-turquoise [class*='bg-dark'] .text-link-7:after {
  background: #4cbfa6;
}

.theme-color-turquoise .bg-black .text-link-8:before,
.theme-color-turquoise [class*='bg-dark'] .text-link-8:before {
  background: rgba(76, 191, 166, 0.1);
}

.theme-color-turquoise [class*='bg-gradient'] .text-link-2:before, .theme-color-turquoise [class*='bg-gradient'] .text-link-3:before, .theme-color-turquoise [class*='bg-gradient'] .text-link-4:before,
.theme-color-turquoise [class*='bg-color'] .text-link-2:before,
.theme-color-turquoise [class*='bg-color'] .text-link-3:before,
.theme-color-turquoise [class*='bg-color'] .text-link-4:before {
  background: white;
}

.theme-color-turquoise [class*='bg-gradient'] .text-link-5:before, .theme-color-turquoise [class*='bg-gradient'] .text-link-6:before, .theme-color-turquoise [class*='bg-gradient'] .text-link-7:before,
.theme-color-turquoise [class*='bg-color'] .text-link-5:before,
.theme-color-turquoise [class*='bg-color'] .text-link-6:before,
.theme-color-turquoise [class*='bg-color'] .text-link-7:before {
  background: rgba(255, 255, 255, 0.3);
}

.theme-color-turquoise [class*='bg-gradient'] .text-link-5:after, .theme-color-turquoise [class*='bg-gradient'] .text-link-6:after, .theme-color-turquoise [class*='bg-gradient'] .text-link-7:after,
.theme-color-turquoise [class*='bg-color'] .text-link-5:after,
.theme-color-turquoise [class*='bg-color'] .text-link-6:after,
.theme-color-turquoise [class*='bg-color'] .text-link-7:after {
  background: white;
}

.theme-color-turquoise [class*='bg-gradient'] .text-link-8:before,
.theme-color-turquoise [class*='bg-color'] .text-link-8:before {
  background: rgba(255, 255, 255, 0.3);
}

.theme-color-turquoise .form-style-2 input:focus, .theme-color-turquoise .form-style-2 textarea:focus, .theme-color-turquoise .form-style-2 .custom-select:focus, .theme-color-turquoise .form-style-2 .form-control:focus,
.theme-color-turquoise .form-style-4 input:focus,
.theme-color-turquoise .form-style-4 textarea:focus,
.theme-color-turquoise .form-style-4 .custom-select:focus,
.theme-color-turquoise .form-style-4 .form-control:focus {
  border-color: #4cbfa6;
}