/*------------------------------------------------
*
* Theme Color - Purple
*
-------------------------------------------------*/
.theme-color-purple a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover {
  color: #B721FF;
}

.theme-color-purple [class*='bg-gradient'] a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover,
.theme-color-purple [class*='bg-color'] a:not([class^='button']):not([class^="link-social"]):not(.header-logo a):hover {
  color: white;
}


.theme-color-purple .header .header-menu:not([class*='dropdown-color']) .nav .nav-item .nav-dropdown a:not([class^='button']):not([class^="link-social"]):hover, .theme-color-purple .header .header-menu:not([class*='dropdown-color']) .nav .nav-item .nav-dropdown a:not([class^='button']):not([class^="link-social"]):focus {
  color: #B721FF;
}


.theme-color-purple .bg-color-theme {
  background: #B721FF;
}

.theme-color-purple .bg-color-theme-09 {
  background: rgba(183, 33, 255, 0.9);
}

.theme-color-purple .bg-color-theme-08 {
  background: rgba(183, 33, 255, 0.8);
}

.theme-color-purple .bg-color-theme-07 {
  background: rgba(183, 33, 255, 0.7);
}

.theme-color-purple .bg-color-theme-06 {
  background: rgba(183, 33, 255, 0.6);
}

.theme-color-purple .bg-color-theme-05 {
  background: rgba(183, 33, 255, 0.5);
}

.theme-color-purple .bg-color-theme-04 {
  background: rgba(183, 33, 255, 0.4);
}

.theme-color-purple .bg-color-theme-03 {
  background: rgba(183, 33, 255, 0.3);
}

.theme-color-purple .bg-color-theme-02 {
  background: rgba(183, 33, 255, 0.2);
}

.theme-color-purple .bg-color-theme-01 {
  background: rgba(183, 33, 255, 0.1);
}

.theme-color-purple .bg-light-theme {
  background: #F5E4FF;
}

.theme-color-purple .button-theme {
  background: #B721FF;
}

.theme-color-purple .button-outline-theme {
  border-color: #B721FF;
  color: #B721FF;
}

.theme-color-purple .button-outline-theme:hover, .theme-color-purple .button-outline-theme:focus {
  background: #B721FF;
  color: white;
}

.theme-color-purple .button-circle-theme {
  background: #B721FF;
}

.theme-color-purple .button-circle-outline-theme {
  border-color: #B721FF;
  color: #B721FF;
}

.theme-color-purple .button-circle-outline-theme:hover, .theme-color-purple .button-circle-outline-theme:focus {
  background: #B721FF;
}

.theme-color-purple .button-backdrop-color-theme {
  background: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-1, .theme-color-purple .button-text-theme.button-text-2, .theme-color-purple .button-text-theme.button-text-3 {
  color: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-1:hover, .theme-color-purple .button-text-theme.button-text-2:hover, .theme-color-purple .button-text-theme.button-text-3:hover {
  color: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-1:before {
  background: rgba(183, 33, 255, 0.3);
}

.theme-color-purple .button-text-theme.button-text-1:after {
  background: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-2:before {
  background: rgba(183, 33, 255, 0.1);
}

.theme-color-purple .button-text-theme.button-text-2:after {
  background: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-3:before {
  background: #B721FF;
}

.theme-color-purple .button-text-theme.button-text-3:hover:before {
  background: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-1, .theme-color-purple .bg-black .button-text-theme.button-text-2, .theme-color-purple .bg-black .button-text-theme.button-text-3,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-1,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-2,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-3 {
  color: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-1:hover, .theme-color-purple .bg-black .button-text-theme.button-text-2:hover, .theme-color-purple .bg-black .button-text-theme.button-text-3:hover,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-1:hover,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-2:hover,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-3:hover {
  color: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-1:before,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-1:before {
  background: rgba(183, 33, 255, 0.3);
}

.theme-color-purple .bg-black .button-text-theme.button-text-1:after,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-1:after {
  background: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-2:before,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-2:before {
  background: rgba(183, 33, 255, 0.3);
}

.theme-color-purple .bg-black .button-text-theme.button-text-2:after,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-2:after {
  background: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-3:before,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-3:before {
  background: #B721FF;
}

.theme-color-purple .bg-black .button-text-theme.button-text-3:hover:before,
.theme-color-purple [class*='bg-dark'] .button-text-theme.button-text-3:hover:before {
  background: #B721FF;
}

.theme-color-purple .text-color-theme {
  color: #B721FF;
}

.theme-color-purple .progress-box.progress-theme .animated-progress div {
  background: #B721FF;
}

.theme-color-purple [class*='bg-gradient'] .progress-box.progress-theme .animated-progress div,
.theme-color-purple [class*='bg-color'] .progress-box.progress-theme .animated-progress div {
  background: white;
}

.theme-color-purple.preloader-theme .preloader-1 div .loader-path {
  stroke: #B721FF;
}

.theme-color-purple.preloader-theme .preloader-2 div span {
  background: #B721FF;
  background: linear-gradient(to right, #B721FF 10%, transparent 40%);
}

.theme-color-purple.preloader-theme .preloader-2 div span:before {
  background: #B721FF;
}

.theme-color-purple.preloader-theme .preloader-3 div span:before, .theme-color-purple.preloader-theme .preloader-3 div span:after {
  background: rgba(183, 33, 255, 0.2);
}

.theme-color-purple .accordion li .accordion-title {
  border-color: rgba(183, 33, 255, 0.1);
}

.theme-color-purple .accordion li .accordion-title:before, .theme-color-purple .accordion li .accordion-title:after {
  background: #B721FF;
}

.theme-color-purple .accordion li .accordion-title h1, .theme-color-purple .accordion li .accordion-title h2, .theme-color-purple .accordion li .accordion-title h3, .theme-color-purple .accordion li .accordion-title h4, .theme-color-purple .accordion li .accordion-title h5, .theme-color-purple .accordion li .accordion-title h6 {
  color: #B721FF;
}

.theme-color-purple .accordion li.active .accordion-title {
  border-color: #B721FF;
}

.theme-color-purple .accordion.style-3 li .accordion-title {
  background: #F5E4FF;
}

.theme-color-purple .accordion.style-3 li.active .accordion-title {
  background: #B721FF;
  color: white;
}

.theme-color-purple .accordion.style-3 li.active .accordion-title:before, .theme-color-purple .accordion.style-3 li.active .accordion-title:after {
  background: white;
}

.theme-color-purple .accordion.style-3 li.active .accordion-title h1, .theme-color-purple .accordion.style-3 li.active .accordion-title h2, .theme-color-purple .accordion.style-3 li.active .accordion-title h3, .theme-color-purple .accordion.style-3 li.active .accordion-title h4, .theme-color-purple .accordion.style-3 li.active .accordion-title h5, .theme-color-purple .accordion.style-3 li.active .accordion-title h6 {
  color: white;
}

.theme-color-purple .bg-black .accordion li .accordion-title,
.theme-color-purple [class*='bg-dark'] .accordion li .accordion-title {
  border-color: rgba(255, 255, 255, 0.2);
}

.theme-color-purple .bg-black .accordion li .accordion-title:before, .theme-color-purple .bg-black .accordion li .accordion-title:after,
.theme-color-purple [class*='bg-dark'] .accordion li .accordion-title:before,
.theme-color-purple [class*='bg-dark'] .accordion li .accordion-title:after {
  background: white;
}

.theme-color-purple .bg-black .accordion li.active .accordion-title,
.theme-color-purple [class*='bg-dark'] .accordion li.active .accordion-title {
  border-color: #B721FF;
}

.theme-color-purple .bg-black .accordion.style-3 li .accordion-title,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li .accordion-title {
  background: rgba(255, 255, 255, 0.1);
}

.theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title {
  background: #B721FF;
  color: white;
}

.theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title:before, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title:after,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title:before,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title:after {
  background: white;
}

.theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h1, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h2, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h3, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h4, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h5, .theme-color-purple .bg-black .accordion.style-3 li.active .accordion-title h6,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h1,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h2,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h3,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h4,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h5,
.theme-color-purple [class*='bg-dark'] .accordion.style-3 li.active .accordion-title h6 {
  color: white;
}

.theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title {
  border-color: rgba(255, 255, 255, 0.2);
}

.theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h1, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h2, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h3, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h4, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h5, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title h6,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h1,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h2,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h3,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h4,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h5,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title h6 {
  color: white;
}

.theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title:before, .theme-color-purple [class*='bg-gradient'] .accordion li .accordion-title:after,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title:before,
.theme-color-purple [class*='bg-color'] .accordion li .accordion-title:after {
  background: white;
}

.theme-color-purple [class*='bg-gradient'] .accordion li.active .accordion-title,
.theme-color-purple [class*='bg-color'] .accordion li.active .accordion-title {
  border-color: white;
}

.theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title {
  background: rgba(255, 255, 255, 0.1);
}

.theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h1, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h2, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h3, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h4, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h5, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li .accordion-title h6,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h1,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h2,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h3,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h4,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h5,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li .accordion-title h6 {
  color: white;
}

.theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title {
  background: white;
  color: #7C7C7C;
}

.theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title:before, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title:after,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title:before,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title:after {
  background: black;
}

.theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h1, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h2, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h3, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h4, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h5, .theme-color-purple [class*='bg-gradient'] .accordion.style-3 li.active .accordion-title h6,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h1,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h2,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h3,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h4,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h5,
.theme-color-purple [class*='bg-color'] .accordion.style-3 li.active .accordion-title h6 {
  color: black;
}

.theme-color-purple .text-link-2:before,
.theme-color-purple .text-link-3:before,
.theme-color-purple .text-link-4:before {
  background: #B721FF;
}

.theme-color-purple .text-link-5:after,
.theme-color-purple .text-link-6:after,
.theme-color-purple .text-link-7:after {
  background: #B721FF;
}

.theme-color-purple .text-link-8:before {
  background: rgba(183, 33, 255, 0.1);
}

.theme-color-purple .bg-black .text-link-2:before,
.theme-color-purple .bg-black .text-link-3:before,
.theme-color-purple .bg-black .text-link-4:before,
.theme-color-purple [class*='bg-dark'] .text-link-2:before,
.theme-color-purple [class*='bg-dark'] .text-link-3:before,
.theme-color-purple [class*='bg-dark'] .text-link-4:before {
  background: #B721FF;
}

.theme-color-purple .bg-black .text-link-5:after,
.theme-color-purple .bg-black .text-link-6:after,
.theme-color-purple .bg-black .text-link-7:after,
.theme-color-purple [class*='bg-dark'] .text-link-5:after,
.theme-color-purple [class*='bg-dark'] .text-link-6:after,
.theme-color-purple [class*='bg-dark'] .text-link-7:after {
  background: #B721FF;
}

.theme-color-purple .bg-black .text-link-8:before,
.theme-color-purple [class*='bg-dark'] .text-link-8:before {
  background: rgba(183, 33, 255, 0.1);
}

.theme-color-purple [class*='bg-gradient'] .text-link-2:before, .theme-color-purple [class*='bg-gradient'] .text-link-3:before, .theme-color-purple [class*='bg-gradient'] .text-link-4:before,
.theme-color-purple [class*='bg-color'] .text-link-2:before,
.theme-color-purple [class*='bg-color'] .text-link-3:before,
.theme-color-purple [class*='bg-color'] .text-link-4:before {
  background: white;
}

.theme-color-purple [class*='bg-gradient'] .text-link-5:before, .theme-color-purple [class*='bg-gradient'] .text-link-6:before, .theme-color-purple [class*='bg-gradient'] .text-link-7:before,
.theme-color-purple [class*='bg-color'] .text-link-5:before,
.theme-color-purple [class*='bg-color'] .text-link-6:before,
.theme-color-purple [class*='bg-color'] .text-link-7:before {
  background: rgba(255, 255, 255, 0.3);
}

.theme-color-purple [class*='bg-gradient'] .text-link-5:after, .theme-color-purple [class*='bg-gradient'] .text-link-6:after, .theme-color-purple [class*='bg-gradient'] .text-link-7:after,
.theme-color-purple [class*='bg-color'] .text-link-5:after,
.theme-color-purple [class*='bg-color'] .text-link-6:after,
.theme-color-purple [class*='bg-color'] .text-link-7:after {
  background: white;
}

.theme-color-purple [class*='bg-gradient'] .text-link-8:before,
.theme-color-purple [class*='bg-color'] .text-link-8:before {
  background: rgba(255, 255, 255, 0.3);
}

.theme-color-purple .form-style-2 input:focus, .theme-color-purple .form-style-2 textarea:focus, .theme-color-purple .form-style-2 .custom-select:focus, .theme-color-purple .form-style-2 .form-control:focus,
.theme-color-purple .form-style-4 input:focus,
.theme-color-purple .form-style-4 textarea:focus,
.theme-color-purple .form-style-4 .custom-select:focus,
.theme-color-purple .form-style-4 .form-control:focus {
  border-color: #B721FF;
}